$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//COLORS

$color-orange: #F16718;
$color-orange-hover: #FF9B62;
$color-blue: #162542;
$color-text:#7B8BAD;
$color-blue-hover:#E8EFF2;
$color-white:#ffffff;

$color-button-gray:#E8EFF2;

$color-gray:#E8EFF2;