.container-inicio{
    padding: 23px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include breakpoint(tablet){
        margin-top: 40px;
        margin-left: 39px;
        margin-right: 39px;
        padding: 0;
    }

    @include breakpoint(desktop){
        padding-top: 64px;
        margin: 0;
        margin-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .logo{
        display: inline-flex;
    }

}

.container-header-principal{
    .title{
        span{
            display: block;
        }
    }

    @include breakpoint(tablet){
        display: flex;
        gap: 69px;
        align-items: center;
        margin-left: 39px;
        margin-bottom: 20px;

        @include breakpoint(desktop){
            gap: 120px;
        }

        .container-img-principal-tablet{
            display:flex;

            .img-principal-tablet{
                display: inline-flex;
                @include breakpoint(desktop){
                    display: none;
                }

            }
        }

        .img-principal-movile,.img-principal-desktop{
            display: none;
        }
    }

    @include breakpoint(desktop){
        margin: 0;
        position: relative;

        .container-img-principal-desktop{

            .img-principal-desktop{
                display: inline-flex;
            }

        }
        
    }
}

.container-title-text-button-principal{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;

    @include breakpoint(tablet){
        margin: 0;
    }

    @include breakpoint(desktop){
        width: 80%;

        p{
            font-size: 18px;
            width: 86%;
        }
    }



    .title{
        font-size: 48px;
        font-weight: 900;
        color: $color-blue;
        line-height: 40px;

        @include breakpoint(desktop){
            font-size: 56px;
            line-height: 56px;
        }
    }

    .container-button{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(desktop){
            width: 70%;
        }
    }
}

.container-img-principal{
    margin-bottom: 35px;
    
    .container-img-principal-movile{
        display: flex;
        justify-content: end;
        
    }

    .img-principal-tablet,.img-principal-desktop{
        display: none;
    }
}